* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

ul { 
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
    /* font-size: inherit; */
    /* line-height: inherit; */
}

.wrapper {
    padding: 0 40px;

    /* ограничиваем ширину контентной области  */
    max-width: 1280px;

    /* центруем контент */
    margin: 0 auto;
}

header .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-heading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%; /* or 35px */
    letter-spacing: 0.06em; 
    /* color-primary */
    color: #F1CDB3;
    margin-bottom: 10px;
}

.logo-subtitle { 
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px; /* identical to box height */
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.header-li-link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* identical to box height, or 24px */
    /* color-dark-s */
    color: #CDCDCD;
}

.header-li-link.active {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.header-li-link:hover {
    color: #FAFAFA;
    transition: border 0.5s, color 0.5s;
}



.start-screen .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.start-screen-text-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 42px;
}

.start-screen-heading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */
    color: #FFFFFF;

    max-width: 310px;
}

.start-screen-subheading { 
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */
    /* color-dark-s */
    color: #CDCDCD;

    max-width: 460px;
}

.start-screen-btn {
    background: #F1CDB3;
    border-radius: 100px;
    width: 207px;
    height: 52px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    letter-spacing: 0.06em;
    /* color-dark-3xl */
    color: #292929;
    padding: 15px 0;
    text-align: center;
}

.start-screen-puppy-picture {
    display: block;
}


.wrapper-header-start-screen {
    background: url(../../../assets/images/background.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
}

.about-section .wrapper {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding-top: 80px;
}

.about-text-block {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 14px;
}

.about-content-heading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
    max-width: 370px;
}

.about-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */
    /* color-dark-xl */
    color: #4C4C4C;
    max-width: 430px;
}
